.refine-search-passenger-type-description,
.refine-search-vehicle-type-note
  display: block
  margin: 3px 0 4px 3px
  padding: 10px
  font-size: 12px
  line-height: 13px
  background-color: #eae9e9
  opacity: 0.8
  border-left: 3px solid #34acda
