// Tooltip
[data-toggle="tooltip"]
  &:hover,
  &:active,
  &:focus
    outline: none
  img,
  i
    &:hover
      cursor: pointer
  i
    display: inline-block
    width: 15px
    height: 15px
    background-image: url(/images/icons/info.svg)
    background-position: center
    background-repeat: no-repeat
    background-size: contain
.tooltip
  font-size: 14px
  font-weight: normal
  line-height: 17px
  &.in
    opacity: 1
  .tooltip-inner
    max-width: 350px
    padding: 10px 10px 10px 12px
    color: #fff
    text-align: left
    text-decoration: none
    background-color: #3d3b3b
    border-radius: 0
    a
      color: #fcb13a
  &.bottom
    .tooltip-arrow
      border-bottom-color: #3d3b3b
  &.right
    margin-left: 5px
    .tooltip-arrow
      border-right-color: #3d3b3b

